<div class="bg-dark-800">

  <!-- Main Content -->
  <main class="container mx-auto my-12 px-4 text-white">
    <section id="home" class="text-center">
      <h1 class="text-4xl font-semibold text-white mb-4">Welcome to Microservices with Docker!</h1>
      <p class="text-lg text-white mb-8">Learn how to deploy a microservices architecture using Docker and Docker Compose with the following video tutorials.</p>
    </section>

    <!-- Video Links -->
    <section id="part1" class="my-12">
      <h2 class="text-2xl font-semibold text-white mb-4">Part 1 - Introduction to Microservices</h2>
      <a href="https://www.youtube.com/watch?v=lNJwMXEUUtA&authuser=0" class="text-white hover:underline" target="_blank">Watch Part 1</a>
    </section>

    <section id="part2" class="my-12">
      <h2 class="text-2xl font-semibold text-white mb-4">Part 2 - Docker Compose Setup</h2>
      <a href="https://www.youtube.com/watch?v=AieHUU_9Kwg&authuser=0" class="text-white hover:underline" target="_blank">Watch Part 2</a>
    </section>
  </main>

</div>
