<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">daisyUI</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/customers">Customers</a></li>
      <li><a routerLink="/accounts">Accounts</a></li>
    </ul>
  </div>
</div>


<div class="bg-green-500 text-white p-4">Tailwind Test</div>

<!-- Main container for routed content -->
<div class="max-w-7xl mx-auto px-4 py-8">
  <router-outlet></router-outlet>

</div>


